<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899446658243-8d4gbkq05qsiq0dpibs4pp0ekjlb3krf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899446658243-8d4gbkq05qsiq0dpibs4pp0ekjlb3krf</string>
	<key>API_KEY</key>
	<string>AIzaSyB1Vt90iVtHps7MkYX00dEzmxGMk98svQc</string>
	<key>GCM_SENDER_ID</key>
	<string>899446658243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orientaaMobileApp</string>
	<key>PROJECT_ID</key>
	<string>orientaamobileapp</string>
	<key>STORAGE_BUCKET</key>
	<string>orientaamobileapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899446658243:ios:99db0805753e286fdefe76</string>
</dict>
</plist>